* {
    margin: 0;
}

.header {
    background-color: #52332e;
    color: #d7ccc8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    width: 100px;
    padding: 5px;
}
.header1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 19px;
}
.nav-bar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 5px;
}

.nav-bar a:hover {
    color: #d7ccc8;
    border-bottom: solid #d7ccc8 2px;
}

/*------------------------------- header completed -------------------------------------------*/

.section {
    /* background-color: #efebe9; */
    background-image: linear-gradient(to bottom, rgba(49, 48, 48, 0.5), rgba(69, 67, 67, 0.5)), url("images/caro1.jpg");

    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

.title {
    text-align: center;
    padding: 50px;
    font-size: 80px;
}

.menu {
    padding: 10px;

    color: rgb(201, 190, 190);
    text-decoration: none;
    text-align: center;
}
